@media (max-width: 767px) {
    .content-reg {
        margin: 0px 0px 0px 0px;
    }

    .sect-2 {
        padding-bottom: 40px;
    }

    .sk-tabs {
        margin-bottom: 20px;
        margin-top: 30px;
    }

    .sect-6, .sect-4, .sect-3, .sect-price, .sect-store, .sect-8, .sect-9 {
        padding: 40px 0;
    }

    .sect-8-box {
        height: 140px;
    }

    .sect-8-box p {
        text-align: center;
        line-height: 20px;
    }

    .sect-img {
        margin-bottom: 40px;
    }

    .sect-img img {
        margin-top: 40px;
    }

    .sect-4-wrap {
        margin: 0 0px;
    }

    .sk-head-nav {
        display: flex;
        background: var(--main-color);
        flex-direction: column;
        width: 100vw;
        height: 100vh;
        z-index: 9999;
        top: 0;
        position: fixed;
        left: -100vw;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        font-size: 25px;
        line-height: 70px;
        transition: all ease-in-out 0.3s;
    }

    .sk-head-nav.show {
        left: 0;
    }

    .menu-icon {
        display: block;
        position: absolute;
        right: 0;
        top: -3px;
    }

    .sect-6-wrap {
        margin-top: 20px;
    }

    .sect-6 {
        min-height: auto;
    }

    .sk-head {
        padding: 10px 0;
        overflow: hidden;
        z-index: 9999;
    }

    .sk-input-group .btn {
        height: 42px;
        border: 1px solid #ffff;
        padding: 0px 30px;
    }

    .sk-lang .btn {
        padding-top: 9px;
    }

    .sk-lang {
        margin-top: -6px;
    }

    .menu-icon svg {
        width: 70px;
        height: 70px;
    }

    .menu-icon svg path {
        fill: var(--main-color);
    }

    .sk-menu ul li a {
        font-size: 30px;
        color: #fff;
    }

    .menu-close {
        position: absolute;
        top: -10px;
        right: 30px;
    }

    .menu-close svg {
        width: 30px;
        height: 30px;
    }

    .menu-close svg path {
        fill: white;
    }

    .sk-menu ul {
        flex-direction: column;
    }

    .menu-close {
        display: block;
    }
}

@media (max-width: 768px) {
    .sect-reg {
        padding-bottom: 0px;
        min-height: auto;
    }

    .sect-reg .input-row {
        width: 320px;
        margin: 0px auto 15px auto;
    }

    .sk-banner-wrap {
        flex-wrap: wrap;
    }

    .sk-banner-wrap .cont,
    .sk-banner-wrap .image {
        width: 100%;
    }

    .sk-banner-wrap .image {
        flex: auto;
        margin-top: 50px;
    }

    .sect-2-wrap,
    .sect-5-list {
        flex-wrap: wrap;
    }

    .sect-2-item {
        width: 50%;
        padding: 15px 0px;
    }

    .sect-5 {
        background: var(--main-color);
    }

    .sect-5-wrap {
        background: none;
    }

    .sect-5-list {
        margin-left: 0;
        margin-top: 0;
    }

    .sect-5-item {
        margin-left: 0;
        width: 25%;
    }

    .sect-5-item img {
        width: calc(100% - 40px);
    }

    .sect-5-item p {
        color: white;
        font-size: 16px;
        line-height: 25px;
    }

    .sect-5-cont {
        margin-top: 30px;
    }

    .sect-5-wrap h5 {
        font-size: 20px;
        line-height: 28px;
        padding-top: 40px;
    }

    .sect-6-wrap .left img {
        display: none;
    }

    .sect-6-tatis-right {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        align-items: end;
        justify-content: end;
    }

    .sect-6-wrap .left,
    .sect-6-wrap .right {
        width: 100%;
    }

    .sect-6-tatis-right .item:nth-last-child(2) {
        position: inherit;
        bottom: 0;
        right: calc(100% + 48px);
    }

    .sect-6-tatis-right .item {
        width: 33.333333%;
        padding: 0px 5px;
    }

    .sect-price-wrap .item {
        padding: 15px;
    }

    .sect-gift {
        background-position: right;
    }

    .sect-gift-cont {
        max-width: 600px;
        margin-left: auto;
        text-align: center;
        padding: 50px 0;
        margin: 0 auto;
    }

    .swiper-slide {
        width: 250px;
    }

    .swiper-slide img {
        height: 350px;
    }

    .swiper {
        padding-left: 30px;
    }

    .swiper::after,
    .swiper::before {
        width: 30px;
    }

    .swiper-next {
        right: 0px;
    }

    .swiper-prev {
        left: 0px;
    }

    .sect-reg img {
        position: absolute;
        right: 0;
    }

    .sect-reg .form .title {
        font-size: 25px;
        line-height: 35px;
        text-align: center;
    }

    @media (max-width: 560px) {
        .sect-4-col {
            width: 100%;
            padding: 15px;
        }

        .sect-5-item {
            width: 50%;
        }

        .sect-5-cont {
            flex-wrap: wrap;
        }

        .sect-5-more {
            margin-left: auto;
            margin-top: 35px;
            margin-right: auto;
            margin-bottom: 50px;
        }

        .sect-6-wrap .center {
            padding: 0;
            width: 100%;
        }

        .sect-6-tatis-right {
            padding-top: 0;
            margin-top: -60px;
        }

        .sect-6-wrap .center img,
        .sect-6-wrap .right img {
            max-width: 100%;
        }

        .sect-6-img-main {
            margin-right: 0;
        }

        .sect-6-statis-cent .item {
            padding: 0 5px;
        }

        .sect-reg img {
            display: none;
        }

        .input-row {
            flex-wrap: wrap;
        }

        .input-row .label,
        .input-row input,
        .input-row .btn,
        .input-row p {
            width: 100%;
            max-width: 100%;
        }

        .sk-banner-wrap {
            padding: 50px 0;
        }
    }
}

@media (min-width: 768px) {
    .input-row ,.input-row-group {
        width: 400px;
        margin: 0px auto 15px auto;
    }
}